<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Event Information</title>
</head>
<body>
  <div layout:fragment="content">
  	<h1 th:text="${event.name}"></h1>
  	<dl>
  		<dt>Date of the event: </dt>
  			<dd th:text="${event.date}"> </dd>
  		<dt> Time of the event: </dt>
  			<dd th:text="${event.time}"> </dd>
  		<dt> Location of the event: </dt>
			<dd th:text="${event.venue.name}"> </dd>
    </dl>
    <p>Get back to the <a href = "/events">list of events</a> page.</p>
  </div>

</body>
</html>