<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Event Information</title>
</head>
<body>
  <div layout:fragment="content">
  	<dl>
  		<dd th:text="'Event ' + ${event.name}">Event name</dd>
  		<dd th:text="${event.date}">Event date</dd>
  		<dd th:text="${event.time}">Event time</dd>
		<dd th:text="'Venue ' + ${event.venue.name}">Event venue name</dd>
		<dd th:text="${event.description}"</dd>
    </dl>
    <form action="#"  th:action="@{/events/{id}(id=${event.id})}" method="get">
			  <label for="tweet">Write tweet:</label>
			  <input type="text" id="tweet" name="tweet"  th:placeholder="${event.name}"><br><br>
			  <input type="submit" value="Submit">
			</form>
    <p></p>
    <p>Get back to the <a href = "/events">list of events</a> page.</p>
  </div>

</body>
</html>