<!DOCTYPE HTML>

<%@taglib prefix="form" uri="http://www.springframework.org/tags/form" %>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>All events</h1>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${events}">
          <td th:text="${e.name}">My Event</td>
          <td th:text="${e.venue.name}">Event venue</td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
          <s:form method="post" commandName="event"
		action="${pageContext.request.contextPath }/events/save">
		<table>
			<tr>
				<td>Id</td>
				<td>
					<s:input path="id"/>
				</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>
					<s:input path="name"/>
				</td>
			</tr>
			<tr>
				<td>venue</td>
				<td>
					<s:input path="venue.name"/>
				</td>
			</tr>
			<tr>
				<td>date</td>
				<td>
					<s:input path="date"/>
				</td>
			</tr>
			<tr>
				<td>time</td>
				<td>
					<s:input path="time"/>
				</td>
			</tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" value="Save"/>
				</td>
			</tr>
		</table>
	</s:form>
        </tr>
        
      </tbody>
    </table>

  </div>

</body>
</html>
