<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
  <script th:inline="javascript"src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
  <style>
    #map { 
      position: relative;
      top: 50px;
      height: 500px;
      margin: auto;
    }
  </style>
</head>
<body>
  <div layout:fragment="content">
  <br>
    <h1>Events</h1>
	<br>
	<form th:action="@{/events/events}" method="get">
	  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Search by event name" class="w-75 p-2">
	  <button type="submit" class="btn btn-primary btn-lg" >Search</button>
	</form>
	<br>
	<h2>Upcomming events</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
          <th><i></i></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${upcommingEvents}">
          <td><a th:href="'/events/' + ${e.id}" th:text="${e.name}">My Event</a></td>
          <td><a th:href="'/venues/' + ${e.venue.id}" th:text="${e.venue.name}">Event venue</td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
            <td>
            <form th:action="@{/events/{id}(id=${e.id})}" th:method="delete">
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </tr>
      </tbody>
    </table>
   	<h2>Previous events</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
          <th><i></i></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${previousEvents}">
          <td><a th:href="'/events/' + ${e.id}" th:text="${e.name}">My Event</a></td>
          <td><a th:href="'/venues/' + ${e.venue.id}" th:text="${e.venue.name}">Event venue</td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
          <td>
            <form th:action="@{/events/{id}(id=${e.id})}" th:method="delete">
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
	<form th:action="@{events/event_create}">
      <button type="submit" class="btn btn-success btn-lg">
      	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      	Add
      </button>
    </form>
    <div id="map">Hello</div>
    <script>
	  mapboxgl.accessToken = 'pk.eyJ1IjoiZDNubmlzdXR1IiwiYSI6ImNsMm0xYmpyYTBpcnAzYm11N3JuY2k0c3MifQ.xKR2OruW0ljKvKjBnusWvg';
	  const map = new mapboxgl.Map({
	  container: 'map',
	  style: 'mapbox://styles/mapbox/streets-v11',
	  center: [10.0, 53.2],
	  zoom: 5
	  });
	  
	  // Create a default Marker and add it to the map.
	  const marker1 = new mapboxgl.Marker()
	  .setLngLat([12.554729, 55.70651])
	  .addTo(map);
    </script>
  </div>

</body>
</html>
