<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Venue Information</title>
</head>
<body>
  <div layout:fragment="content">
  	<dl>
  		<dd th:text="'Venue ' + ${venue.name}">Venue name</dd>
  		<dd th:text="${venue.address}">Venue address</dd>
  		<dd th:text="${venue.postalCode}">Venue postal code</dd>
  		<dd th:text="'Capacity: ' + ${venue.capacity}">Venue capacity</dd>
  		<p></p>
  		<dd>Events coming up...</dd>
    </dl>
    <p></p>
    <p>Get back to the <a href = "/events">list of events</a> page.</p>
  </div>

</body>
</html>